{% extends "../base.html" %}

{% block content %}

    
    <h1>Delete Blog Post</h1>
    <form method="post" action="{% url 'blog:post-delete' post.id %}">
        {% csrf_token %}
        <div class="post-container">
            <div>
                <h1 style="margin-bottom: 10px;">Blog Title:- <span style="font-weight: normal;">{{post.title}}</span></h1>
                <p style="font-size: 20px; font-weight:normal;">Are you sure you want to delete this blog post??</p>
            </div>
            <div style="display: flex; gap: 20px; align-items: center; justify-content: end;">
                <button type="submit" style="text-decoration: none; width: 50px; background-color: teal; padding: 10px; margin-top: 2px; color: white; border-radius: 5px; border: none; cursor: pointer;">Yes</button>
                <button style="background-color: red; width: 50px; padding: 10px; margin-top: 2px; border-radius: 5px; border: none; cursor: pointer;"><a href="{% url 'blog:my-posts' %}" style="text-decoration: none; color: white;">No</a></button>
            </div>
        </div>
    </form>

    {% block add %} {% endblock add %}
    
{% endblock content %}